# Github code owners

# All .go file changes require the team to review
*.go @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984

# Build / infra files
Makefile @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984

# Config files
*.yml @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984
*.json @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984
*.env @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984

# Documentation files
*.md @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984
LICENSE @yevchuk-kostiantyn @athongsamai @awmirantis @smerkviladze @mlimardo1984
