version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: 'weekly'
    labels:
      - 'dependabot'
    open-pull-requests-limit: 5
    groups:
      # We are less concerned about the minor dependencies
      minor-dependencies:
        patterns:
          - "*"
        # Skip docker and k8 dependencies. We want to manually keep an eye on these
        exclude-patterns:
          - "*/docker/*"
          - "*/moby/*"
          - "*/opencontainers/*"
          - "*/cri-api/*"
          - "*/kubernetes/*"
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: 'monthly'
    labels:
      - 'dependabot'
    open-pull-requests-limit: 5
    groups:
      # Our major dependencies are only done as a reminder. These should be manually checked
      major-dependencies:
        patterns:
          - "*/docker/*"
          - "*/moby/*"
          - "*/opencontainers/*"
          - "*/cri-api/*"
          - "*/kubernetes/*"
