name: Publish

on:
  workflow_call:

jobs:
  publish-binaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: cri-dockerd.ubuntu
      - uses: actions/download-artifact@v4
        with:
          pattern: cri-dockerd.deb-*
          merge-multiple: true
      - uses: actions/download-artifact@v4
        with:
          name: cri-dockerd.rpm
      - uses: actions/download-artifact@v4
        with:
          name: cri-dockerd.arm
      - uses: actions/download-artifact@v4
        with:
          name: cri-dockerd.win
      - uses: actions/download-artifact@v4
        with:
          pattern: cri-dockerd.darwin-*
          merge-multiple: true
      - name: Push binaries
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            **/*.tgz
            **/*.rpm
            **/*.deb
            **/*.zip
